version: "3.8"

services:
  api:
    build:
      context: ..      
      dockerfile: docker/Dockerfile.prod
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    environment:
      - NODE_ENV=production
